
body {
    font-family:g Georgia, 'Times New Roman', Times, serif;
    background-color: #BEEBFF;
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #999789;
}

li {
    font-weight: bold;
    float: left;
}
.main img {
    border: 2px solid black;
    
}
a {
    text-decoration: none;
}
h1 {
    font-size: 35px;
    font-weight: bold;
}
.h2 {
    background: #51C6CC;
   display: inline-block;
    padding: 4px;
    width: 30%;
    margin:  2%;
    font-size: 35px;
    font-weight: bold;
border-bottom: 4px solid #999789;
}
h3 {
    padding: 4px;
    text-align: center;
}

li a {

    display: block;
    color: rgb(8, 8, 8);
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #51C6CC;
}
.active {
    background-color: #51C6CC;
}
.about {
    float: left;
    text-align: justify;
    font-family:g Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    width: 55%;
    padding: 1%;
    margin: 2%;
    background-color: rgba(255, 255, 255, 0.432);
}
#contactme {
    padding: 2px;
    width: 65%;
    border-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #51C6CC;
    font-weight: bold;
    font-size: 35px;   
}
.pic {
    float: left;
    margin: 10px;
}
.connect {
    font-weight: bold;
    text-align: center;
    float: right;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.521);
    padding: 2%;
    margin: 2%;
    width: 30%;
}
.icon {
    margin: 5px;
}
.footer {
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #51C6CC;
    font-weight: bold;
    text-align: center;
    background-color: #51C6CC;
    position: fixed;
    padding: 16px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    width: 100%;
    font-size: 24px;
}
.line {
    width: 100%; 
    height: 7px;
    background: #51C6CC; 
    overflow: hidden;
}
.sepparator {
    bottom: 22px;
    height: 5px;
    width: 100%;
    background-color: #51C6CC;
}
.container {
    display: inline-block;
    background-color: #51C6CC;
    font-size: 15px;
    line-height: 22.5px;
    padding: 2%;
    margin: 2%;
    width: 30%;
    height: 40%;
}
.box1,textarea {
    border: 2px ridge rgb(112, 112, 112);
    min-height: 5%;
}
.row {
    background-color: rgba(81, 202, 204, 0.438);
    width: 50%;
    display: inline-block;
    float: left;
    margin: 16px;
}

.main {
    max-width: 1000px;
    margin: auto;
    background-color: red;
}

.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    border-style: ridge;
    float: left;
    width: 25%;
}

/* Clear floats after rows */ 
.row:after {
    display: table;
    clear: both;
}

.content {
    background-color: #686868;
    padding: 10px;
}
