* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #849EB2;
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF6A65;
}

li {
    font-weight: bold;
    float: left;
}
a{
    text-decoration: none;
}
li a {

    display: block;
    color: rgb(8, 8, 8);
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #C8CC28;
}
.active {
    background-color: #4CB0FF;
}
.about {
    float: left;
    text-align: justify;
    font-family:g Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    width: 55%;
    padding: 15px;
    margin: 15px;
    background-color: white;
}
h1 {
    font-weight: bold;
    font-size: 35px;
}
.pic {
    float: left;
    margin: 10px;
}
.connect {
    font-weight: bold;
    text-align: center;
    float: right;
    font-size: 30px;
    background-color: white;
    padding: 15px;
    margin: 15px;
    width: 30%;
}
.icon {
    margin: 5px;
}
.footer {
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: rgb(1, 5, 1);
    font-weight: bold;
    text-align: center;
    background-color: #FF6A65;
    position: fixed;
    padding: 16px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    width: 100%;
    font-size: 24px;
}
.line {
    width: 100%; 
    height: 7px;
    background: #AFB22C; 
    overflow: hidden;
}
.sepparator {
    bottom: 22px;
    height: 5px;
    width: 100%;
    background-color: #C8CC28;
}
